<a href="https://colab.research.google.com/github/ashivin10/rinex_majorProject/blob/main/rinex__proje_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df=pd.read_csv("/content/ETH.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-06-16,229.762299,236.394302,228.426147,234.416168,234.416168,7965648016
1,2020-06-17,234.492371,235.954056,229.341644,233.028275,233.028275,7701391592
2,2020-06-18,232.898697,234.570648,228.951431,232.101166,232.101166,6713800872
3,2020-06-19,231.954971,232.154114,226.795181,227.138290,227.138290,6946372590
4,2020-06-20,226.976364,231.449020,226.640625,229.274261,229.274261,6252830566
...,...,...,...,...,...,...,...
725,2022-06-11,1665.217896,1679.314209,1507.038940,1529.663452,1529.663452,21127089064
726,2022-06-12,1530.189697,1539.705078,1436.183960,1445.216553,1445.216553,23465074882
727,2022-06-13,1443.835449,1448.738037,1181.948242,1204.582764,1204.582764,45162788786
728,2022-06-14,1204.555298,1252.471802,1094.701904,1211.662842,1211.662842,33327826525
729,2022-06-15,1204.709473,1219.879272,1025.767456,1091.898193,1091.898193,30485518336

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       730 non-null    object
 1   Open       730 non-null    float64
 2   High       730 non-null    float64
 3   Low        730 non-null    float64
 4   Close      730 non-null    float64
 5   Adj Close  730 non-null    float64
 6   Volume     730 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 40.0+ KB

In [4]:
df.shape

(730, 7)

In [10]:
df=df.drop(labels=["Date"],axis=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       730 non-null    float64
 1   High       730 non-null    float64
 2   Low        730 non-null    float64
 3   Close      730 non-null    float64
 4   Adj Close  730 non-null    float64
 5   Volume     730 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 34.3 KB

In [39]:
#seperating input and output
x=df.iloc[:,0:2].values
y=df.iloc[:,2].values

In [40]:
#splits x and y to 75% and 25%
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,random_state=0)
xtr

array([[3209.030518, 3346.526367],
       [3382.657227, 3437.935791],
       [4523.981934, 4640.921875],
       ...,
       [2555.297607, 2639.943115],
       [4064.746338, 4126.001465],
       [2729.994141, 2838.704346]])

In [41]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
sc=MinMaxScaler()
xtr=sc.fit_transform(xtr)
xte=sc.fit_transform(xte)
model=LinearRegression()
model.fit(xtr,ytr)

LinearRegression()

In [42]:
ypred=model.predict(xte)
ypred

array([ 685.20760694,  615.6730889 ,  210.71506337,  215.79061629,
       2003.52237764, 2670.72015519, 2014.64428288, 1839.99526156,
       2841.95742234,  224.31217288,  286.19711996, 2328.57455573,
        366.604806  ,  455.32795785,  594.01798411,  567.57851343,
       2467.16965008, 2830.42325965, 2050.70711572,  413.21103936,
       2749.03226001, 1354.69044984, 2925.32259808,  563.89342511,
       2210.3225958 , 2623.71487584,  982.10191594, 1739.51713528,
       2489.15435077, 4415.17835945,  227.04214249, 1714.06499039,
       2946.33610254,  553.25489262, 2596.59569014, 1910.06970696,
       2945.87008807, 3743.68901384,  382.65788068, 3666.06423053,
       3235.69631091,  216.82820771, 1806.59560916, 2894.08185108,
       3127.57255398, 2560.69857003, 2255.35654004, 1772.07405555,
       1712.36775481,  321.61149394, 4407.30295717, 3331.88708277,
       3466.52001882, 3851.31989253, 1167.50660374, 3991.6388023 ,
       3846.99287147, 3265.57644927, 3174.57237167, 2076.65754363,
       3215.01215318, 2456.26880166, 2660.26836551, 2782.28601187,
       4146.42107449, 1867.27615431, 1751.90097062, 3045.82971975,
       4526.98954608, 2866.95208847, 3921.93202732, 3836.11897126,
       3268.32157579, 3102.18885705,  332.18993364, 1906.59659859,
       2977.44413131, 2331.23754231, 2536.16656718, 1146.41752497,
       1042.31351677, 2933.77346647,  550.43804474,  368.54169001,
       1753.936487  , 4097.39540214, 1216.23232833, 3666.17724706,
       3575.34499183,  379.75828188,  215.14179477,  367.99523932,
       2970.93864635, 3146.97225654, 3826.56982471, 1694.46078017,
       2075.56073482, 3143.52878716, 1142.58332826, 2054.17178361,
       1488.77785197, 3287.90995549, 1830.43576701, 2930.87283455,
       2580.53949755, 1011.75788424, 3022.70321335, 2395.76692482,
       3291.56957618, 2574.03701673,  316.8878042 , 1577.29207372,
       1815.26217032,  364.41052208, 2125.29926283,  446.75038667,
       1416.54104171,  351.83915439, 3076.93255229, 3414.68553122,
        248.34530317,  541.47562703,  354.47181218, 2391.30828384,
       2602.38328845, 1703.34291424,  209.45361534, 3873.0094989 ,
       2601.75150426,  402.47919896,  395.38492354, 2972.07975011,
        368.48790275, 1981.54413267, 2030.27226323, 3592.82387071,
       2689.15306998, 1494.36554304, 1685.69349382, 1670.04817758,
       3328.85041718,  355.9671079 , 3597.4383257 , 2762.46968372,
       1733.24992029, 4165.23414695, 1680.12257661,  346.60309749,
       4060.32349115, 2769.06004791, 3943.73001755, 2327.03443966,
       3208.9680741 , 1820.5019159 ,  211.52190353, 2566.12179816,
       1658.87013027, 3712.11286127, 3307.97710564, 1613.6586092 ,
       2895.4348765 , 3205.65534787, 1965.07255201, 3848.81048981,
        315.77107522, 3808.97188966,  407.11702767, 3926.34712135,
       2130.89073163, 2311.78733119,  358.4317929 , 1994.48573384,
       4047.06191287,  354.91312732, 1072.45431808, 2611.78933743,
       2399.2960986 ,  427.46253241, 2321.11488117,  223.01383951,
       3140.8252319 , 3121.11991549,  221.77987579])

In [48]:
yte

array([ 692.149414,  625.014465,  224.815186,  232.10997 , 2083.803711,
       2755.908447, 2119.865723, 1907.020508, 2676.407471,  238.232376,
        300.267822, 2326.869629,  391.041504,  471.63147 ,  617.4021  ,
        588.346375, 2308.914795, 2786.253174, 2117.590088,  381.1297  ,
       2845.397705, 1181.948242, 2962.4104  ,  559.671387, 2298.026855,
       2630.120361,  912.305359, 1770.612061, 2573.655273, 4144.334961,
        232.807739, 1789.914185, 3087.490723,  552.469238, 2583.995117,
       1922.577881, 3075.911377, 3918.837891,  399.608368, 3703.399902,
       3365.817627,  229.341644, 1845.119995, 2900.926025, 3278.670898,
       2566.193115, 2312.301514, 1848.206299, 1722.050781,  332.165009,
       4580.990234, 3335.376709, 3590.275146, 4033.513916, 1174.38855 ,
       3785.848633, 3638.12207 , 3442.000244, 3247.91748 , 2049.962646,
       3283.44873 , 2449.353516, 2587.748291, 2868.938965, 4255.455078,
       1830.531494, 1749.606323, 3142.00708 , 4718.039063, 3016.421143,
       3967.120361, 4027.927002, 3224.764893, 3216.718018,  349.834076,
       1926.676758, 3064.485107, 2328.452148, 2555.401367, 1094.701904,
       1012.76416 , 3045.28833 ,  577.118408,  386.218475, 1766.490479,
       4284.504883, 1225.274048, 3805.885986, 3723.349854,  397.245819,
        229.25946 ,  385.039795, 2947.683594, 3157.224121, 3905.706055,
       1779.867554, 2138.55957 , 3291.563721, 1157.623779, 2108.829834,
       1519.141113, 3385.761719, 1759.199585, 3091.825439, 2336.361328,
        994.549072, 3187.469238, 2505.299316, 3365.913086, 2558.233643,
        334.545563, 1501.750244, 1580.626587,  382.985107, 2154.731201,
        465.704254, 1407.979248,  362.597412, 3211.866943, 3489.805664,
        261.047089,  563.106628,  369.336334, 2354.350586, 2728.169922,
       1734.617065,  225.133316, 3982.91748 , 2540.684082,  419.770172,
        396.678345, 3055.212402,  367.935516, 2032.387695, 2081.923584,
       3726.750488, 2786.988281, 1511.103394, 1674.299805, 1378.840942,
       3407.338135,  366.642334, 3698.047607, 2704.91626 , 1804.266357,
       4288.686523, 1686.542358,  336.06897 , 4160.966797, 2826.107422,
       3930.257324, 2409.924072, 3117.381348, 1890.368164,  224.913971,
       2682.621826, 1708.679199, 3664.719971, 3370.261963, 1672.6604  ,
       3035.535156, 3349.237061, 1916.656128, 3908.340332,  329.340942,
       3956.057129,  422.647278, 3989.969971, 2172.515137, 2359.384766,
        371.312744, 2057.609131, 3959.227783,  368.727966, 1064.233398,
       2667.684326, 2412.197754,  428.45636 , 2315.960205,  234.218658,
       3279.0271  , 3214.519775,  235.680969])

In [53]:
import numpy as np
a=229
b=254
ls=np.array([])
ls=np.append(a,b)
print(ls)
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
ls=sc.fit_transform([ls])
model.predict(ls)

[229 254]

array([209.23079346])

In [19]:
import joblib
joblib.dump(model,"eth_vol")

['eth_vol']

In [58]:
!pip install streamlit --quiet

In [62]:
%%writefile app.py
import streamlit as st
import joblib
import numpy as np
model=joblib.load("eth_vol")
st.title("ETHERIUM COIN LOW PRICE PREDICTION!!")
st.write("""This is basically a website to predict the lowest value that an etheerium coin can reach based on ..\nOpen market cost and higest price recorded in a day*""")
ip1=st.number_input("MARKET OPEN PRICE")
ip2=st.number_input("HIGEST RECORDED VALUE")
ls=np.append(ip1,ip2)
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
ls=sc.fit_transform([ls])
op=model.predict(ls)
if st.button("PREDICT"):
  st.title(op)

Overwriting app.py

In [64]:
!streamlit run app.py & npx localtunnel --port 8501

2022-07-01 15:39:16.986 INFO    numexpr.utils: NumExpr defaulting to 2 threads.

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.72.126.97:8501

npx: installed 22 in 2.962s
your url is: https://itchy-melons-dig-34-72-126-97.loca.lt
  Stopping...
^C