<a href="https://colab.research.google.com/github/ashivin10/rinex_majorProject/blob/main/rinex__proje_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd
df=pd.read_csv("/content/ETH.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-06-16,229.762299,236.394302,228.426147,234.416168,234.416168,7965648016
1,2020-06-17,234.492371,235.954056,229.341644,233.028275,233.028275,7701391592
2,2020-06-18,232.898697,234.570648,228.951431,232.101166,232.101166,6713800872
3,2020-06-19,231.954971,232.154114,226.795181,227.138290,227.138290,6946372590
4,2020-06-20,226.976364,231.449020,226.640625,229.274261,229.274261,6252830566
...,...,...,...,...,...,...,...
725,2022-06-11,1665.217896,1679.314209,1507.038940,1529.663452,1529.663452,21127089064
726,2022-06-12,1530.189697,1539.705078,1436.183960,1445.216553,1445.216553,23465074882
727,2022-06-13,1443.835449,1448.738037,1181.948242,1204.582764,1204.582764,45162788786
728,2022-06-14,1204.555298,1252.471802,1094.701904,1211.662842,1211.662842,33327826525
729,2022-06-15,1204.709473,1219.879272,1025.767456,1091.898193,1091.898193,30485518336

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       730 non-null    object
 1   Open       730 non-null    float64
 2   High       730 non-null    float64
 3   Low        730 non-null    float64
 4   Close      730 non-null    float64
 5   Adj Close  730 non-null    float64
 6   Volume     730 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 40.0+ KB

In [132]:
df.shape

(730, 7)

In [133]:
df=df.drop(labels=["Date"],axis=1)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       730 non-null    float64
 1   High       730 non-null    float64
 2   Low        730 non-null    float64
 3   Close      730 non-null    float64
 4   Adj Close  730 non-null    float64
 5   Volume     730 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 34.3 KB

In [135]:
#seperating input and output
x=df.iloc[:,0:2].values
y=df.iloc[:,2].values

In [142]:
#splits x and y to 75% and 25%
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,random_state=0)
xt=xte

In [143]:

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtr,ytr)

LinearRegression()

In [144]:
ypred=model.predict(xte)
ypred

array([ 692.82294767,  622.43508464,  212.41737488,  217.55805638,
       2027.48390913, 2702.75689368, 2038.81709221, 1861.80279527,
       2876.25275711,  226.18294339,  288.81749251, 2356.68271642,
        370.2391166 ,  459.99607765,  600.45760231,  573.68840704,
       2496.83578082, 2864.81082456, 2075.20284064,  417.42535111,
       2782.37336381, 1370.67367463, 2960.72274725,  570.00768328,
       2236.82557051, 2655.53657046,  993.05303701, 1760.2567008 ,
       2518.90998328, 4468.6884233 ,  228.94216309, 1734.47303004,
       2982.04316396,  559.23260838, 2627.80929269, 1932.98595657,
       2981.48384351, 3789.25600936,  386.44692029, 3709.93118094,
       3274.83152938,  218.60697645, 1828.21874364, 2928.92119853,
       3165.58928727, 2591.75584199, 2282.40143245, 1793.05654092,
       1732.78965961,  324.65508986, 4461.10941579, 3372.57660849,
       3508.41751851, 3898.17744794, 1181.09156668, 4040.15386325,
       3893.99849247, 3305.27973659, 3213.24206229, 2101.43913122,
       3254.206536  , 2485.9755387 , 2692.5688607 , 2815.86811267,
       4197.26148972, 1889.50367143, 1772.77865154, 3082.8435687 ,
       4582.54525484, 2901.75989121, 3969.96063692, 3882.91021085,
       3307.92821178, 3139.64969124,  335.39729262, 1929.40272415,
       3013.29679665, 2359.33320019, 2566.54849519, 1159.70432897,
       1054.27176509, 2969.3712636 ,  556.38530773,  372.18194052,
       1774.90544165, 4147.28400564, 1230.13479934, 3710.82820203,
       3618.82025065,  383.54130367,  216.90046628,  371.66328608,
       3007.07646356, 3185.34140242, 3872.62397209, 1714.62396369,
       2100.16283887, 3181.76399852, 1155.66600614, 2078.88634705,
       1506.1444953 , 3327.60252902, 1852.33407786, 2966.46430534,
       2611.80282838, 1023.2684435 , 3059.37631458, 2424.5751125 ,
       3331.34873868, 2604.98272011,  319.91622966, 1596.03898643,
       1837.00685614,  368.00370204, 2150.72660783,  451.40273036,
       1433.1299908 ,  355.3027011 , 3114.34547537, 3456.27609501,
        250.48737411,  547.25229968,  357.91692378, 2420.22826795,
       2633.87651796, 1723.59050614,  211.13297246, 3919.75938232,
       2633.06790687,  406.55779142,  399.38985898, 3008.25908007,
        372.15747386, 2005.26221039, 2054.60912915, 3636.75997291,
       2721.51069135, 1511.99735306, 1705.76965806, 1689.98109997,
       3369.50201452,  359.44205602, 3641.42989838, 2796.0278027 ,
       1753.89952943, 4215.71912616, 1700.05169543,  349.99641868,
       4109.91436528, 2802.69676012, 3991.69251694, 2354.93401507,
       3248.1165248 , 1842.19117833,  213.23694023, 2596.99394202,
       1678.52459191, 3757.05614383, 3348.18415064, 1632.860303  ,
       2930.52384392, 3244.69361038, 1988.66414475, 3895.71934905,
        318.75799365, 3855.42147116,  411.25639843, 3974.02777808,
       2156.27096029, 2339.60723333,  361.96838645, 2018.37870183,
       4096.56085303,  358.35006047, 1084.68358812, 2643.08057125,
       2428.08356064,  431.85117771, 2348.55378298,  224.86932052,
       3178.83731297, 3159.16252371,  223.60187845])

In [145]:
yte

array([ 692.149414,  625.014465,  224.815186,  232.10997 , 2083.803711,
       2755.908447, 2119.865723, 1907.020508, 2676.407471,  238.232376,
        300.267822, 2326.869629,  391.041504,  471.63147 ,  617.4021  ,
        588.346375, 2308.914795, 2786.253174, 2117.590088,  381.1297  ,
       2845.397705, 1181.948242, 2962.4104  ,  559.671387, 2298.026855,
       2630.120361,  912.305359, 1770.612061, 2573.655273, 4144.334961,
        232.807739, 1789.914185, 3087.490723,  552.469238, 2583.995117,
       1922.577881, 3075.911377, 3918.837891,  399.608368, 3703.399902,
       3365.817627,  229.341644, 1845.119995, 2900.926025, 3278.670898,
       2566.193115, 2312.301514, 1848.206299, 1722.050781,  332.165009,
       4580.990234, 3335.376709, 3590.275146, 4033.513916, 1174.38855 ,
       3785.848633, 3638.12207 , 3442.000244, 3247.91748 , 2049.962646,
       3283.44873 , 2449.353516, 2587.748291, 2868.938965, 4255.455078,
       1830.531494, 1749.606323, 3142.00708 , 4718.039063, 3016.421143,
       3967.120361, 4027.927002, 3224.764893, 3216.718018,  349.834076,
       1926.676758, 3064.485107, 2328.452148, 2555.401367, 1094.701904,
       1012.76416 , 3045.28833 ,  577.118408,  386.218475, 1766.490479,
       4284.504883, 1225.274048, 3805.885986, 3723.349854,  397.245819,
        229.25946 ,  385.039795, 2947.683594, 3157.224121, 3905.706055,
       1779.867554, 2138.55957 , 3291.563721, 1157.623779, 2108.829834,
       1519.141113, 3385.761719, 1759.199585, 3091.825439, 2336.361328,
        994.549072, 3187.469238, 2505.299316, 3365.913086, 2558.233643,
        334.545563, 1501.750244, 1580.626587,  382.985107, 2154.731201,
        465.704254, 1407.979248,  362.597412, 3211.866943, 3489.805664,
        261.047089,  563.106628,  369.336334, 2354.350586, 2728.169922,
       1734.617065,  225.133316, 3982.91748 , 2540.684082,  419.770172,
        396.678345, 3055.212402,  367.935516, 2032.387695, 2081.923584,
       3726.750488, 2786.988281, 1511.103394, 1674.299805, 1378.840942,
       3407.338135,  366.642334, 3698.047607, 2704.91626 , 1804.266357,
       4288.686523, 1686.542358,  336.06897 , 4160.966797, 2826.107422,
       3930.257324, 2409.924072, 3117.381348, 1890.368164,  224.913971,
       2682.621826, 1708.679199, 3664.719971, 3370.261963, 1672.6604  ,
       3035.535156, 3349.237061, 1916.656128, 3908.340332,  329.340942,
       3956.057129,  422.647278, 3989.969971, 2172.515137, 2359.384766,
        371.312744, 2057.609131, 3959.227783,  368.727966, 1064.233398,
       2667.684326, 2412.197754,  428.45636 , 2315.960205,  234.218658,
       3279.0271  , 3214.519775,  235.680969])

In [148]:
model.predict([df.iloc[1,0:2].values])

array([218.60697645])

In [149]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

a=3444
b=4555
m=[[730.358704,  737.952881]]
print(ls)
model.predict(m)

[[0. 0.]]

array([692.82294767])

In [152]:
import joblib
joblib.dump(model,"eth_vol")

['eth_vol']

In [153]:
!pip install streamlit --quiet

In [157]:
%%writefile app.py
import streamlit as st
import joblib
import numpy as np
t_mod=joblib.load("eth_vol")
st.title("ETHERIUM COIN LOW PRICE PREDICTION!!")
st.write("""This is basically a website to predict the lowest value that an etheerium coin can reach based on ..\nOpen market cost and higest price recorded in a day*""")
ip1=st.number_input("MARKET OPEN PRICE")
ip2=st.number_input("HIGEST RECORDED VALUE")
ls1=np.append(ip1,ip2)
op=t_mod.predict([ls1])
if st.button("PREDICT"):
  st.title(op)

Overwriting app.py

In [160]:
!streamlit run app.py & npx localtunnel --port 8501

2022-07-01 18:27:46.545 INFO    numexpr.utils: NumExpr defaulting to 2 threads.
npx: installed 22 in 2.765s
your url is: https://blue-carrots-decide-34-72-126-97.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.72.126.97:8501

  Stopping...
^C